mixin header(props)
  -
    var pagesPath = props.isZoo ? '../../' : '../';

  header
    .container.menu
      .left
        .logo
          a(href=`${pagesPath}landing/`) 
            img(src=`${pagesPath}../assets/images/logo.svg`, alt="logo")        
        ul.nav
          li.nav-item
            a.nav-link(href=`${pagesPath}landing/`) About
          li.nav-item
            a.nav-link(href=`${pagesPath}map/`, class=`${props.isZoo ? '' : 'active'}`) Map
          li.nav-item
            a.nav-link(href=`${pagesPath}zoos/panda/`, class=`${!props.isZoo ? '' : 'active'}`) Zoos
          li.nav-item
            a.nav-link(href=`${pagesPath}404/`) Contact us
          li.nav-item
            a.nav-link(
              href="https://www.figma.com/file/aBvQMVmI665DtzprpiniuH/online-zoo?node-id=2932%3A0",
              target="_blank"
            ) Design   

      .right
        h1 Online Zoo
