mixin header(props)
  -
    var pagesPath = props.isZoo ? '../../' : '../';

  header
    .container.menu
      .left
        .logo
          img(src="../../../assets/images/logo.svg", alt="logo")        
        ul.nav
          li.nav-item
            a.nav-link(href=`${pagesPath}landing/`) About
          li.nav-item
            a.nav-link(href=`${pagesPath}map/`, class=`${props.isZoo ? '' : 'active'}`) Map
          li.nav-item
            a.nav-link(href=`${pagesPath}zoos/panda/`, class=`${!props.isZoo ? '' : 'active'}`) Zoos
          li.nav-item
            a.nav-link(href="#") Contact us
          li.nav-item
            a.nav-link(href="#") Design   

      .right
