include ../tooltip/tooltip.pug

mixin menuZoos(props)
  -
    var assetsPath = '../../../assets/';

  .menuWrapper
    .menuZoos
      +menuItem({an: 'alligator', animal, place: 'Florida, USA'})
      +menuItem({an: 'panda', animal, place: 'China'})
      +menuItem({an: 'eagle', animal, place: 'California, USA'})
      +menuItem({an: 'gorilla', animal, place: 'Eastern DRC'})
      .item.feed
        button
          img(src=`${assetsPath}images/menu-zoos/icon.png`, alt='Feed')

mixin menuItem(props)
  -
    var assetsPath = '../../../assets/';
    var isActive = props.animal === props.an;

  if isActive
    .item(class=`${isActive ? 'active' : ''}`)
      img(src=`${assetsPath}images/menu-zoos/${props.an}.png`, alt=`${props.an}`)
      +tooltip({animal: props.an, place: props.place })
  else
    a(href=`../${props.an}/`)
      .item(class=`${isActive ? 'active' : ''}`)
        img(src=`${assetsPath}images/menu-zoos/${props.an}.png`, alt=`${props.an}`)
        +tooltip({animal: props.an, place: props.place })