mixin cardAnimal(props)
  - 
    var cardLink = props.link ? `../zoos/${props.link}` : '../404/'

  .cardAnimal
    a(href=`${cardLink}`)
      img(src=`../../assets/images/pets/${props.fileName}.jpg`, alt=`${props.fileName}`)
      .title
        h4=props.title
