mixin footer(props)
  -
    var assetsPath = `${props.isZoo ? '../' : ''}../../assets/`;
    var pagesPath = props.isZoo ? '../../' : '../';

  footer
    <div class="bg"></div>
    .container.line1
      .logoBox
        .logo
          a(href=`${pagesPath}landing/`) 
            img(src=`${assetsPath}images/logo.svg`, alt="logo")
      .donate
        button.btn Donate for volunteers
      .menu
        a(href=`${pagesPath}landing/`) About
        a(href=`${pagesPath}map/`) Map
        a(href=`${pagesPath}404/`) Contact us
        a(href=`${pagesPath}404/`) Feedback
      .socialBox
        .social
          .item
            a(href="https://www.instagram.com/?hl=ru", target="_blank")
              img(src=`${assetsPath}icons/insta.svg`, alt="insta")
          .item
            a(href="https://www.facebook.com/", target="_blank")
              img(src=`${assetsPath}icons/facebook.svg`, alt="facebook")
          .item
            a(href="https://twitter.com/?lang=en", target="_blank")
              img(src=`${assetsPath}icons/twitter.svg`, alt="twitter")
          .item
            a(href="https://www.youtube.com/", target="_blank")
              img(src=`${assetsPath}icons/youtube.svg`, alt="youtube")
    .container.line2
      .logos
        .rss
          img(src=`${assetsPath}images/logo-rss.png`, alt="logo-rss", title="Rolling Scopes School")
        .yem
          img(src=`${assetsPath}images/logo-yem.png`, alt="logo-yem", title="Yem Digital")
      .copy
        .text Copyright ©RSSchool and ©Yem Digital 2020 - 2021
      .design
        .text Grigoreva Margarita